<title>mqtt-admin</title>

<script src="bower_components/steal/steal.js" data-main="main"></script>

<div id="container" style="display: none;">

    <div id="tabs">
        <ul>
            <li><a href="#publish">Publish</a></li>
            <li><a href="#subscribe">Subscribe</a></li>
            <li><a href="#status" style="display: none;">Status</a></li>
        </ul>

        <div id="status">
            <input id="topic" type="text" placeholder=" ...type in a topic (wildcards + and # allowed) and press enter" class="ui-widget ui-widget-content ui-corner-all">
            <table id="gridStatus"></table>
            <div id="pagerStatus"></div>
        </div>

        <div id="publish">
            <p>
                <label class="publish" for="publishTopic">Topic</label><input class="ui-widget ui-widget-content ui-corner-all" type="text" id="publishTopic">
            </p>
            <p>
                <label class="publish" for="publishPayload">Payload</label>
                <textarea class="ui-widget ui-widget-content ui-corner-all" id="publishPayload" rows="1"></textarea>
            </p>
            <p style="margin-top: -10px"><!-- todo -->
                <label for="publishPub"></label><button id="publishPub" type="button">Publish</button>
                <button id="publishPubRetain" type="button">Publish (retain)</button>
                <select id="publishQos">
                    <option value="0">QOS 0</option>
                    <option value="1">QOS 1</option>
                    <option value="2">QOS 2</option>
                </select>
                <span id="jsonLint" style="display: none;"><span class='ui-icon ui-icon-check inline-icon' role='presentation'>Valid JSON</span>JSON</span>
            </p>
            <div id="tabsPublish">
                <ul>
                    <li><a href="#history">History</a></li>
                  <!-- TODO <li><a href="#favorites">Favorites</a></li> -->
                </ul>
                <div id="history">
                    <table id="gridHistory" class="publish-grid"></table>
                    <div id="pagerHistory"></div>
                </div>
                <!-- TODO
                <div id="favorites">
                    <table id="gridFavorites" class="publish-grid"></table>
                    <div id="pagerFavorites"></div>
                </div> -->

            </div>
        </div>

        <div id="subscribe">
            <div id="tabsSubscribe">
                <ul></ul>
            </div>
        </div>

    </div>


    <div id="dialogSettings" title="Settings">
        <div id="tabsSettings">
            <ul>
                <li><a href="#brokerSettings">MQTT Broker</a></li>
                <!--<li><a href="#influxSettings">InfluxDB</a></li>-->
                <li style="display: none;"><a href="#mqttshSettings">mqtt-smarthome</a></li>
            </ul>

            <div id="brokerSettings">
                <p>
                    <span class="span-label">Status:</span> <span id="mqttStatus"></span><br>
                    <span class="span-label">ClientId:</span> <span id="mqttClientId"></span>
                </p>
                <div class="left-50">
                    <label for="protocol">Protocol</label>
                    <select id="protocol">
                        <option value="ws" selected="selected">ws://</option>
                        <option value="wss">wss://</option>
                    </select><br>
                    <label for="host">Host</label><input class="ui-widget ui-widget-content  ui-corner-all" id="host" type="text"><br>
                    <label for="port">Port</label><input class="ui-widget ui-widget-content  ui-corner-all" id="port" type="text"><br>
                    <select id="server">
                        <option value="">choose Server</option>
                    </select>
                </div>
                <div class="right-50">
                    <label for="user">User</label><input class="ui-widget ui-widget-content  ui-corner-all" id="user" type="text"><br>
                    <label for="password">Password</label><input class="ui-widget ui-widget-content  ui-corner-all" id="password" type="password"><br>
                    <label for="clientId">ClientId</label><input class="ui-widget ui-widget-content  ui-corner-all" id="clientId" type="text"><br>
                    <label class="checkbox-label" for="random"><input type="checkbox" id="random">Random ClientId Suffix</label>
                </div>
                <div style="clear: both; height: 6px;"></div>
            </div>

            <div id="mqttshSettings">
                <p>
                    <label class="large" for="mqttshTrim">Trim <code>+/status/#</code> topics to <code>+//#</code></label><input type="checkbox" id="mqttshTrim">
                </p>
                <p>
                    <label class="large" for="mqttshAutocomplete">Autocomplete <code>+//</code> topics to <code>+/status/</code> or <code>+/set/</code></label><input type="checkbox" id="mqttshAutocomplete">
                </p>
            </div>
        </div>
    </div>

    <div id="topicDetails" title="Topic Details">
        <div id="tabsDetails">
            <ul>
                <li><a href="#mqttDetails">MQTT</a></li>
                <li><a href="#influxDetails">InfluxDB</a></li>
            </ul>
            <div id="mqttDetails">

            </div>
            <div id="influxDetails">
                <input id="influxQuery" type="text" class="ui-widget ui-widget-content ui-corner-all">
                <table id="gridInflux"></table>
                <div id="pagerInflux"></div>
            </div>
        </div>


    </div>

</div>
